@import 'src/styles/vars';

.ui.grid.center.aligned {
  background-color: rgba(255, 255, 255, 0.466);
  border-radius: 20px;
  padding: 20px;
}

.oauth {
  display: flex;
  justify-content: space-evenly;
}
