@import 'src/styles/vars';
.chatroom {
  justify-self: flex-end;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 10vh;
  width: 30%;
  
  
}

.chatroom-messages {
  overflow-y: scroll;
  height: 50vh;
  
}

.chatroom-input {

}
