@import 'reset';
@import 'vars';




body {
  font-family: sans-serif;
  background-color: $main-color;
  /* background-size: cover;*/ 
  background-repeat: no-repeat;
}

@media (min-width: $breakpoint-tablet) {
  body {
    background-position: 50% 0;

  }



}


/* 
  // or you can import your own font
  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
  }
  body {
    font-family: 'Roboto', sans-serif;
  }
*/
