@import 'src/styles/vars';

body {
  font-family: sans-serif;
  background-color: $main-color;
  background-size: cover;
  background-repeat: repeat;
  background-position: 50% 50%;
}

@media (min-width: $breakpoint-tablet) {
  /* ce style va s'appliquer pour toutes les vues plus grandes que 768px (cf vars) */
  body {
    background-repeat: no-repeat;
  }
}


.app {
  text-align: center;
  width: 80%;
  max-width: 1000px;
  height: calc(100vh-#{$footer-height});
  min-height: calc(#{$header-height});
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}



