@import 'src/styles/vars';

body {
  font-family: 'Lato', sans-serif;
  background-color: $main-color;
  background-size: cover;
  background-repeat: repeat;
  background-position: 50% 50%;
  font-size: 16px;
}

.main {
  height: 100vh;
}

.app {
  text-align: center;
  width: 80%;
  max-width: 1000px;
  height: calc(100vh-#{$header-height}-#{$footer-height});
  min-height: calc(#{$header-height}+#{$footer-height}+280px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  &.error {
    justify-content: center;
    text-align: center;
    font-weight: 900;
    font-size: 80px;
  }
}

.welcomeStranger {
  padding-top : 3em;
  color : $text-color;
  text-shadow: 1.5px 1.5px 1.5px $main-color, -1.5px -1.5px 1.5px $main-color;
}

.error {
  align-items: center;
  text-align: center;
  font-weight: 900;
  font-size: 80px;
}
@media (min-width: $breakpoint-tablet) {
  /* ce style va s'appliquer pour toutes les vues plus grandes que 1050px (cf vars) */
  body {
    background-repeat: no-repeat;
  }
}

@media (max-width: $breakpoint-tablet) {
  /* ce style va s'appliquer pour toutes les vues plus petites que 1050px (cf vars) */
  .app {
    height: calc(100vh-#{$header-height}*.85-#{$footer-height});
    }
  
  @media (max-width: $breakpoint-phone) {
    /* ce style va s'appliquer pour toutes les vues plus petites que 510px (cf vars) */
    .body {
      overflow-y: scroll;
    }
    .app {
      height: calc(100vh-#{$header-height}*.7-#{$footer-height});
      min-height: 490px;
    }
    .main {
      height :0;
      min-height: calc(#{$header-height}*.7+#{$footer-height}+280px);
    }
  }
}

