@use 'sass:color';
@import 'src/styles/vars';


 .team{
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
  bottom: 10vh;
  top: 10vh;
//  margin-left: 15%;
  flex-wrap: wrap;
  overflow-y: scroll;
  &--member {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
    margin: 7rem 0.75rem 3rem;
    background-color: rgba(247, 243, 227, 0.8);
    color: $main-color;
    font-weight: bold;
    font-family: 'Indie Flower', cursive;

    padding: 2%;
    box-shadow: 2px 4px 6px #444;
    -moz-box-shadow: 2px 4px 6px #444;
    -webkit-box-shadow: 2px 4px 6px #444;
  /*   transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -webkit-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -ms-transform: rotate(2deg); */
    border-bottom-right-radius: 60px 10px;
    }
  &--icon {
    border-radius: 50%;
    margin: 1rem 0 2rem 0;
  }
  &--role {
    margin-bottom: 2rem;
  }
  &--title {
    display: flex;
    position: fixed;
    margin: auto;
    top: 14vh;
    color : $text-color;
    text-shadow: 1px 1px 1px black, -1px -1px 1px black;
    font-weight: bold;
    font-size: 2.5rem;
  }
/*   &--title {
    position: fixed;
    left: 44%;
  } */
} 
