@import 'src/styles/vars';

.main-title {
  font-family: 'Permanent Marker', cursive;
  font-size: 48px;
  max-width: 20%;
  color: $text-color;
  text-align: center;
}

.header {
  background-color: $main-color;
  // height: $header-height;
  height: 10vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $text-color;
}


.user {
  position: fixed;
  right: 2rem;
  margin: 1em, 0;
  display: flex;
  align-items: center;
  &--icon {
    font-size: 42px;
  }
  &--message {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    padding: 0 1rem;
    &--hello {
  
    }
    &--logout {
      text-decoration: none;
      color: $text-color;
      &:hover {
        color: $grey;
      }
    }
    &--pseudo {
      text-transform: capitalize;
    }
  
  }
}


@media (max-width: $breakpoint-tablet) {
  /* ce style va s'appliquer pour toutes les vues plus petites que 1050px (cf vars) */
/*   .header {
    height: calc(#{$header-height*.85})
  } */
  @media (max-width: $breakpoint-phone) {
    /* ce style va s'appliquer pour toutes les vues plus petites que 510px (cf vars) */
/*     .header {
      height: calc(#{$header-height}*.7);
    } */
  }
}



.avatar {
  float: right;
  margin-right: 32px;
}

.ui.small.avatar.image {
  height: 2rem;
}

