@import 'src/styles/vars';

.main-title {
  font-family: 'Permanent Marker', cursive;
  font-size: 64px;
  color: $text-color;
}

.header {
  background-color: $main-color;
  height: $header-height;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $text-color;
}

.userPseudo {
  text-transform: capitalize;
}

.logout-link {
  margin-left: 3rem;
  text-decoration: none;
  color: $text-color;
}



@media (max-width: $breakpoint-tablet) {
  /* ce style va s'appliquer pour toutes les vues plus petites que 1050px (cf vars) */
  .header {
    height: calc(#{$header-height*.85})
  }
  @media (max-width: $breakpoint-phone) {
    /* ce style va s'appliquer pour toutes les vues plus petites que 510px (cf vars) */
    .header {
      height: calc(#{$header-height}*.7);
    }
  }
}

.user-id {
  position: absolute;
  right: 5rem;
  height: 2rem;
  display: flex;
  justify-content: flex-end;
}

.avatar {
  float: right;
  margin-right: 32px;
}

.ui.small.avatar.image {
  height: 2rem;
}
