@import 'src/styles/vars';

.modes {
  display: flex;
  justify-content: space-around;
  margin-top: 4rem;
  width: 100%;
}
.ui.rounded.image>img {
  border-radius: 20px;
}

.coupleImages {
width: 50%;
}

.gamesVisuals {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}
.ui.small.images {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 4rem;
}

a.ui.rounded.image {
  margin: 2rem;
}
a.ui.rounded.image:nth-child(2) img{
  padding: 5px;
}

img {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  width: 150px;
  height: 150px;
  &.ui.rounded.image {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    width: 150px;
    height: 150px;
    margin: $gutter;
  }
}
.ui.small.images img {
  height: 150px;
}

@media (max-width: $breakpoint-tablet) {
  /* ce style va s'appliquer pour toutes les vues plus petites que 1050px (cf vars) */
  .playModes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .gamesVisuals {
    margin-left: auto;
  }
  .ui.small.images {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
   /* width: 100%;*/
  }
  .coupleImages {
    width: 100%;
    }
  .ui.rounded.image>img {
    border-radius: 20px;
   
  }
  
  @media (max-width: $breakpoint-phone) {
    /* ce style va s'appliquer pour toutes les vues plus petites que 510px (cf vars) */
    .ui.small.images img {
      height: 100px;
      width: 100px;
    }
    a.ui.rounded.image {
      margin: 1rem;
    }
    .ui.small.images .image {
      width: 100px;
    }
    .playModes {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    
    .gamesVisuals {
      margin-left: auto;
    }
    .ui.small.images {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 2rem;
     /* width: 100%;*/
    }
    .coupleImages {
      width: 100%;
      }
    .ui.rounded.image>img {
      border-radius: 20px;
     
    }
    img {
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: 20px;
      width: 150px;
      height: 150px;
      &.ui.rounded.image {
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 20px;
        width: 100px;
        height: 100px;
        margin: calc(#{$gutter}*.5);
      }
    }
  }
}
